app = "procure-to-pay-backend"
primary_region = "iad"

[build]

[env]
  DJANGO_SETTINGS_MODULE = "procure_to_pay.settings.fly"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[processes]
  app = "sh -c 'python manage.py migrate && python manage.py collectstatic --noinput && gunicorn procure_to_pay.wsgi:application --bind 0.0.0.0:8000'"